<meta charset="utf-8">
<head>
  <title></title>
  <link rel="stylesheet" href="/css/registration_number.css">

</head>
<body>

  <div class="content">
    {{{body}}}
  </div>

{{!-- <script src="/js/settime.js"></script> --}}
</body>
</html