<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/registration_number.css">
</head>

<body>
    <div class="container">

        <div class="box">

            <h1>Registration Number</h1>

            <div class="errorMsg">{{messages.error}}</div>

            <form action="numberPlates" method="post">

                <div class="enterReg">
                    <input size="30" type="text" name="regNo" class="regEntered" value=""
                        placeholder="Enter Registration Number">
                    <input class="addRegNumber" type="submit" value="Add">
                </div>

            </form>

            <div class="reg">
                <input type="radio" name="town" value="">Show all
                <input type="radio" class="radio" name="town" value="CY">Bellville
                <input type="radio" class="radio" name="town" value="CJ">Paarl
                <input type="radio" class="radio" name="town" value="CA"> Cape Town
            </div>

            <div class="regNumbers">
                {{#each regList}}

                <li class="cy"> {{this.regno}}</li>

                {{/each}}
            </div>

            
                <div class="reset">
                   <a href="/reset"></a> <button type="submit" value="RESET" class="set">RESET</button>
                </div>
          

        </div>
    </div>
</body>

</html>