body{
background-image: url('g.jpg');
/* background-color: #000; */
margin: 0;
padding: 0;
font-family: sans-serif;
}

.container{
    
    position: relative;
    width: 750px;
    height: 0px;
    margin: 100px auto;
}

.container .box{
    box-shadow: 50px;
    background-image: url('gray.webp');
    position: relative;
    width: calc(800px - 30px);
    height: calc(400px - 30px);
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden ;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: black;
}

.regEntered{
    text-align: center;
    /* margin: 1em; */
}

.enterReg{
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
}

.addRegNumber{
    margin-left: 2em;
}

.reg{
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: black;
}

.cy{
    color: black;
    background: gray;
    border-radius: 10px;
    margin-top: 5px;
   
    margin-left: 12px;
    padding: 5px;
}

li {
    list-style: none;
    display: inline-table;
    /* margin-top: 5px; */
}

.errorMsg{
    color: red;
    text-align: center;
    padding-bottom: 1em;
    font-size: larger;
}

.errorReset{
    color: green;
    text-align: center;
    padding-bottom: 1em;
    font-size: larger;
}

.reset{
    text-align: center;
    padding-top: 3em;
}

.set{
    font-size: medium;
    background-color: green;
    border-radius: 10px;
}

.submitbtn{
    text-align: center;
}

.examples{
    text-align: center;
    color: green;
}

@media screen and (max-width: 800px) {
    
   .container .box{
    height: 500px;
    width: 80%;
    margin: 5em;
    margin-top: 10em;
   }

   .reset{
    text-align: center;
    padding-top: 15em;
}

}